

<main class="main">
  <div class="content">
    <div class="left-side">
      <footer class="bg-secondary text-light pt-5 pb-4">
        <div class="container text-md-left">

          <app-navbar></app-navbar>

          <!-- Carousel (Slide) -->
<!--      >-->
<!--          </div>-->
          <app-slide></app-slide>

          <!-- Product Section -->
          <div class="container my-5">
            <h2 class="text-center mb-4">Featured Products</h2>
            <div class="row g-4 menu-product ">

              <!-- Product Card 1 -->
              @if (true){
                <div class="col-md-4">
                  <app-product></app-product>
                </div>
              }
              @for (item of [1,1,1,5]; track item){
                <div class="col-md-4">
                  <app-product></app-product>
                </div>
              }

              <!-- Product Card 2 -->
<!--              <div class="col-md-4">-->
<!--                <app-product></app-product>-->
<!--              </div>-->
              <!-- Product Card 3 -->
<!--              <div class="col-md-4">-->
<!--                <app-product></app-product>-->
<!--              </div>-->







            </div>
          </div>
        <app-footer></app-footer>
        </div>

        <!-- Copyright -->
        <div class="text-center p-3 mt-4" style="background-color: rgba(255, 255, 255, 0.1);">
          © 2025 eShop. All Rights Reserved.
        </div>
      </footer>
    </div>
  </div>
</main>
<router-outlet />
