/* You can add global styles to this file, and also import other style files */
.product-card {
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 12px;
  overflow: hidden;
  transition: box-shadow 0.3s ease;
}
.product-card:hover {
  box-shadow: 0 4px 20px rgba(0,0,0,0.1);
}
.product-img {
  height: 300px;
  object-fit: cover;

}
.price {
  font-weight: bold;
  color: #000000;
}
.old-price {
  text-decoration: line-through;
  color: #6c757d;
  margin-left: 10px;
}
.favorite {
  cursor: pointer;
}

